<style>
  .relative:hover .group-hover\:block {
    display: block;
  }
</style>
<%- include('partials/header') %>
<h1>Order Confirmation</h1>
<p>Thank you for your purchase! Your order has been placed.</p>
<a href="/">Continue Shopping</a>
<%- include('partials/footer') %>
